@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Carter+One&display=swap');

:root {
    --red: #f6361d;
    --blue: #00a6ed;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}

/* Home */

.home {
    display: block;
    transition: 500ms;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.front-background {
    position: absolute;
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
}

.logo {
    position: absolute;
    font-family: 'Carter One', cursive;
    font-size: 50px;
    top: 2vh;
    left: 2%;
    text-decoration: none;
    color: #FFFFFF;
    transition: 250ms;
}

.logo:hover {
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.hire-me-button {
    position: absolute;
    top: 0;
    left: 130px;
    font-size: 60px;
    color: white;
}

.hire-me-button:hover {
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.hire-me-button div {
    position: absolute;
    top: 25%;
    left: 22%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #f6361d;
    animation: 1s blink forwards linear infinite;
}

.main-left {
    width: 100%;
    background-color: #f6361d;
    display: grid;
    transition: 500ms;
}

.social {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
}

.social ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social li {
    list-style-type: none;
    padding: 5px 0;
}

.social a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    transition: 250ms;
}

.social a:hover {
    color: white;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.bottom-left-button {
    position: absolute;
    bottom: 2vh;
    left: 2%;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    transition: 100ms;
}

.bottom-left-button:hover {
    color: white;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.bottom-left-button .fa-arrow-down {
    transform: rotate(90deg);
    margin-right: 10px;
}

.main-right {
    width: 100%;
    background-color: #00a6ed;
    transition: 500ms;
}

.contact-button {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    letter-spacing: 5px;
    text-decoration: none;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    transition: 250ms;
    cursor: pointer;
}

.contact-button:hover {
    color: white;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
}

.bottom-right-button {
    position: absolute;
    bottom: 2vh;
    right: 2%;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    color: rgba(255, 255, 255, 0.7);
    transition: 100ms;
}

.bottom-right-button:hover {
    color: white;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.bottom-right-button .fa-arrow-down {
    transform: rotate(-90deg);
    margin-left: 10px;
}

.intro-container {
    position: absolute;
    height: 80vh;
    width: 70%;
    top: 10vh;
    left: 15%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.intro-title {
    color: white;
    font-size: 60px;
    font-weight: 700;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    align-self: flex-end;
    transform: translateY(50%);
    display: grid;
    grid-template-columns: max-content max-content;
    animation: up 1s ease forwards 1s;
    
}

.intro-1 {
    color: white;
    font-size: 32px;
    font-weight: 500;
    opacity: 0;
    transform: translateY(-20%);
    display: grid;
    grid-template-columns: max-content max-content;
    animation: fade-intro-line 1s ease forwards 1.5s;
}

.intro-2 {
    color: rgba(255, 255, 255, 0.8);;
    font-size: 20px;
    opacity: 0;
    position: absolute;
    top: 70%;
    transform: translateY(-200%);
    display: grid;
    grid-template-columns: max-content max-content max-content;
    animation: fade-intro-line 1s ease forwards 1.5s;
}

.internship {
    text-decoration: none;
    color: #005bd1;
    font-weight: 600;
}

.internship:hover {
    color: white;
    text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.intro-line-1 {
    justify-self: right;
}
/* /Home */


/* About */
.about {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    transform: translateX(-100%);
    background-color: #f6361d;
    overflow: hidden;
}

.about .container {
    width: 60%;
    height: 60vh;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: 60% max-content 40%;
}

.about-border {
    align-self: center;
    height: 85%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.about-left {
    display: grid;
    height: 70%;
    width: 90%;
    margin: auto;
    grid-template-rows: max-content max-content 1fr max-content max-content;
}

.about-name {
    font-weight: 700;
    font-size: 54px;
    letter-spacing: 2px;
}

.about-job {
    font-size: 28px;
    font-weight: 500;
}

.career-objective {
    font-size: 18px;
    align-self: center;
}

.education-course {
    font-size: 20px;
}

.education-university {
    font-size: 18px;
}

.about-right {
    height: 70%;
    width: 85%;
    margin: auto auto auto 5%;
    font-size: 16px;
    display: grid;
    grid-template-rows: max-content 1fr 1fr 1fr;
    align-items: center;
}

.links {
    font-size: 32px;
    justify-self: right;
}

.links a {
    text-decoration: none;
    color: blue;
}

.website a {
    text-decoration: none;
    color: blue;
}
/* /About */


/* Projects */
.projects {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    transform: translateX(100%);
    background-color: var(--blue);
    overflow: hidden;
}

.projects .container {
    width: 60%;
    height: 60vh;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    overflow: hidden;
}

.project-1 {
    height: 100%;
    width: 100%;
    display: grid;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.project-1 img {
    width: 100%;
    align-self: center;
    justify-self: center;
    filter: opacity(30%);
}

.button-up {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    display: grid;
    justify-self: center;
    cursor: pointer;
}

.button-down {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    border-radius: 100%;
    display: grid;
    justify-self: center;
    cursor: pointer;
}

.button-up .fas, .button-down .fas {
    align-self: center;
    justify-self: center;
    font-size: 42px;

}

.project-desc {
    position: absolute;
    width: 55%;
    height: 50vh;
    top: 25.5vh;
    left: 22.5%;
    display: grid;
    grid-template-rows: max-content 2fr 1fr max-content max-content max-content;
    grid-template-columns: 1fr 1fr;
}

.project-desc .title, .project-desc .description, .project-border, .button-up, .button-down{
    grid-column: 1 / 6;
}

.project-desc .title {
    font-size: 38px;
    font-weight: 700;
    justify-self: center;
    align-self: center;
}

.project-desc .description {
    font-size: 18px;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: max-content max-content;
}

.project-border {
    height: 2px;
    width: 90%;
    justify-self: center;
    background-color: white;
}

.github-project, .visit-project {
    padding: 30px;
    font-size: 18px;
    align-self: center;
}

.github-project {
    font-size: 32px;
}

.github-project a, .visit-project a {
    text-decoration: underline;
    color: rgb(150, 150, 255);
    
}

.visit-project {
    justify-self: right;
}

/* /Projects */


/* KEYFRAMES */
@keyframes up {
    100% {
        transform: translateY(0%);
        margin-bottom: 10px;
    }
}

@keyframes fade-intro-line {
    100% {
        opacity: 1;
        transform: translateY(0%);
        margin-top: 10px;
    }
}

@keyframes blink {
    0% {
        color: var(--red);
    }
    50% {
        color: var(--blue);
    }
}

@keyframes move-left {
    100% {
        transform: translateX(-100%);
    }
}

@keyframes move-back {
    100% {
        transform: translateX(0%);
    }
}

@keyframes move-right {
    100% {
        transform: translateX(100%);
    }
}
/* /KEYFRAMES */


/* RESPONSIVE */

/* Medium Device */
@media screen and (max-width: 1340px) {
    .about .container {
        width: 80%;
    }

    .hire-me-button {
        left: 120px;
    }
}

@media screen and (max-width: 840px) {    
    .bottom-left-button, .bottom-right-button {
        bottom: 6%;
        letter-spacing: 0;
    }

    .hire-me-button {
        left: 105px;
    }

    .about .container {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr max-content 1fr;
        margin: 15vh auto auto auto;
    }

    .about-border {
        justify-self: center;
        height: 1px;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .about-left {
        height: 90%;
    }

    .about-name {
        font-size: 42px;
    }

    .about-job {
        font-size: 24px;
    }

    .career-objective {
        font-size: 18px;
    }

    .education-course {
        font-size: 20px;
    }

    .education-university {
        font-size: 16px;
    }

    .links {
        font-size: 32px;
    }

    .about-right {
        height: 90%;
        font-size: 16px;
    }

    .projects .container {
        height: 50vh;
        width: 90%;
        margin: auto;
    }

    .project-desc {
        width: 85%;
        height: 45vh;
        top: 27.5vh;
        left: 7.5%;
        display: grid;
        grid-template-rows: max-content 2fr 1fr max-content max-content max-content;
        grid-template-columns: 1fr 1fr;
    }

    .project-desc .title {
        font-size: 24px;
    }

    .project-desc .description {
        grid-template-columns: max-content;
        grid-template-rows: max-content max-content;
        justify-items: center;
        font-size: 16px;
    }

    .visit-project {
        font-size: 16px;
    }

    .button-up, .button-down {
        width: 40px;
        height: 40px;
    }
    
    .button-up .fas, .button-down .fas {
        font-size: 30px;
    }
}

/* Small Device */
@media screen and (max-width: 720px) {

    .front-background {
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }

    .logo {
        top: 2vh;
    }

    .main-left, .main-right {
        border-radius: 0;
    }

    .social {
        left: 5%;
        top: 45vh;
    }

    .contact-button {
        font-size: 14px;
        letter-spacing: 4px;
        right: 5%;
        top: 45vh;
    }

    .bottom-left-button, .bottom-right-button {
        bottom: 13vh;
        letter-spacing: 0;
    }

    .arrow {
        font-size: 32px;
    }

    .intro-container {
        top: 5vh;
    }

    .intro-title {
        font-size: 28px;
    }

    .intro-1 {
        font-size: 16px;
    }

    .intro-2 {
        font-size: 12px;
    }

    .about .text, .projects .text {
        display: none;
    }

    .about .container {
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr max-content 1fr;
    }

    .about-border {
        justify-self: center;
        height: 2px;
        width: 90%;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .about-left {
        height: 85%;
    }

    .about-name {
        font-size: 32px;
    }

    .about-job {
        font-size: 18px;
    }

    .career-objective {
        font-size: 14px;
    }

    .education-course {
        font-size: 16px;
    }

    .education-university {
        font-size: 12px;
    }

    .links {
        font-size: 24px;
    }

    .about-right {
        height: 90%;
        font-size: 14px;
    }
}
/* Small Device */